
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}


main {
    display: flex;
    flex-direction: row;
    flex: auto; 

}
article {
    flex: 2;
    overflow-y: auto; 
    padding: 1rem;
}


aside {
    flex: 1;
    overflow-y: auto; 
    padding: 1rem;
}


header, footer {
    padding: 1rem;
    background-color: #f0f0f0;
}


header, footer {
    width: 100%;
}

@media (max-width: 768px) {
    main {
        flex-direction: column; /* Stack article and aside vertically */
    }

    article, aside {
        flex: auto; /* Take full width */
    }
}
